<h1>Пост всякой фигни</h1>

 <% @pst.each do |p| %>
   <%=p.userh%>:
   <%=p.text%><br /><br />


 <% end %>

<%= form_tag '/post/posts' do %>
  Текст вашей фигни<br />
  <%= text_field_tag :figna, "" %>

  <%= submit_tag "get" %><br /><br />
<% end %>

